<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/theme.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/about-hospital.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/CommonClasses.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>About-Hospital</title>
</head>

<body>

    <div class="mainContainer">

        <!-- Navbar section -->

        <nav>
            <a href="./index.html"><img class="top-logo"
                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo">
            </a>
            <div class="navDeskDiv">
                <ul class="navigation">
                    <a href="./doctors.html">
                        <li>Doctors</li>
                    </a>
                    <a href="./hospitals.html">
                        <li>Hospitals</li>
                    </a>
                    <a href="./treatment.html">
                        <li>Treatment</li>
                    </a>
                    <a href="#">
                        <li>Other Services</li>
                    </a>
                    <a href="./aboutUs.html">
                        <li>About</li>
                    </a>
                </ul>
                <div class="navbtn">
                    <button onclick="location.href='./signIn.html'" class="navB1 whiteBtn">Login / Sign Up</button>
                    <button class="darkBlueBtnSmall">Get a Quote</button>
                </div>
                <div class="navMenu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>


        <!-- header section -->

        <header class="header">
            <h3>About Apollo Hospital</h3>
            <h5>Home / Hospital Profile</h5>
        </header>


        <!-- main section -->

        <section class="mainSection">
            <div class="mainSectionInner">

                <div class="imgAndBtn">
                    <figure>
                        <img src="../assets/images/Indraprastha Apollo Hospitals.webp">
                    </figure>
                    <button class="darkBlueBtnBig" onclick="location=href='./appointment.html'">Call Now</button>
                </div>
                <div class="mainText">
                    <div class="head">
                        <div class="title">
                            <div class="line"></div>
                            <h4>Apollo Hospital</h4>
                        </div>
                        <div class="infoOuter">
                            <div class="info">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Delhi Mathura Road, Sarita Vihar, Delhi 110076</span>
                            </div>
                            <div class="info">
                                <i class="fas fa-bed"></i>
                                <span>113 Beds</span>
                            </div>
                        </div>
                        <p>Apollo Hospitals has emerged as Asia's foremost integrated healthcare services provider and
                            has a robust presence across the healthcare ecosystem, including Hospitals, Pharmacies,
                            Primary Care & Diagonostic Clinic and several retail health models. The Group also has
                            Telemedicine facilities across several countries, Health Insurance Services, Global Projects
                            Consultancy, Medical Colleges, Medvarsity for E-Learning, Colleges of Nursing and Hospital
                            Management and a Reserch Foundation. In addition, 'ASK Apollo' - an online consultation
                            portal and Apollo Home Health provider the care continuum.</p>
                    </div>
                    <ul class="about">
                        <li class="items">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-award"></i>
                                    <h5>Specialization</h5>
                                </div>
                                <div class="upDown">
                                    <i class="fas fa-chevron-up"></i>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente
                                in,
                                dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                                debitis
                                voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                        </li>
                        <li class="items">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-stethoscope"></i>
                                    <h5>Famous Treatments</h5>
                                </div>
                                <div class="upDown">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </li>
                        <li class="items">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-user-md"></i>
                                    <h5>Famous Doctors</h5>
                                </div>
                                <div class="upDown">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </li>
                        <li class="items">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="far fa-hospital"></i>
                                    <h5>Infrastructure</h5>
                                </div>
                                <div class="upDown">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </li>
                        <li class="items">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <h5>Complete Address</h5>
                                </div>
                                <div class="upDown">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </li>
                        <li class="items">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-h-square"></i>
                                    <h5>Hospital Packages</h5>
                                </div>
                                <div class="upDown">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </li>
                        <li class="items">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-rupee-sign"></i>
                                    <h5>Hospital Charges</h5>
                                </div>
                                <div class="upDown">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </li>
                        <li class="items">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-id-card"></i>
                                    <h5>Membership</h5>
                                </div>
                                <div class="upDown">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </section>


        <!-- Task 08 Need Help Section -->

        <section class="container">
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>
            <button onclick="location=href='./submit-your-query.html'" class="greyishBlueBtn">Submit your query</button>
        </section>


        <!-- Footer section -->

        <footer>
            <div class="innerfooter">
                <figure><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
                        alt="logo">
                </figure>
                <ul class="navlist">
                    <a href="#">
                        <li>
                    </a>Doctor</li></a>
                    <a href="#">
                        <li>Hospital</li>
                    </a>
                    <a href="#">
                        <li>Treatment</li>
                    </a>
                    <a href="#">
                        <li>Other Services</li>
                    </a>
                    <a href="#">
                        <li>FAQs</li>
                    </a>
                </ul>
                <ul class="socialLogos">
                    <a href="#">
                        <li><i class="fab fa-facebook-f"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-pinterest-p"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-twitter"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-google-plus-g"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-instagram"></i></li>
                    </a>
                </ul>
                <p class="rights">All Rights Reserved. &copy; tvastra 2018</p>
            </div>
        </footer>

    </div>
</body>

</html>