<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/theme.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/doctors-profile.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/CommonClasses.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Doctor's Profile</title>
</head>

<body>

    <div class="mainContainer">

        <!-- Navbar section -->

        <nav>
            <a href="./index.html"><img class="top-logo"
                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo">
            </a>
            <div class="navDeskDiv">
                <ul class="navigation">
                    <a href="./doctors.html">
                        <li>Doctors</li>
                    </a>
                    <a href="./hospitals.html">
                        <li>Hospitals</li>
                    </a>
                    <a href="./treatment.html">
                        <li>Treatment</li>
                    </a>
                    <a href="#">
                        <li>Other Services</li>
                    </a>
                    <a href="./aboutUs.html">
                        <li>About</li>
                    </a>
                    <a href="./tvastra-plus.html">
                        <li>Tvastra+</li>
                    </a>
                </ul>
                <div class="navbtn">
                    <button onclick="location.href='./signIn.html'" class="navB1 whiteBtn">Login / Sign Up</button>
                    <button class="darkBlueBtnSmall">Get a Quote</button>
                </div>
                <div class="navMenu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>


        <!-- header section -->

        <header class="header">
            <h3>About John Nission</h3>
            <h5>Home / Doctor Profile</h5>
        </header>


        <!-- main section -->

        <section class="mainSection">
            <div class="mainSectionInner">

                <div class="imgAndBtn">
                    <figure>
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg">
                    </figure>
                    <button class="darkBlueBtnBig" onclick="location=href='./appointment.html'">Book and
                        appointment</button>
                </div>
                <div class="mainText">
                    <div class="head">
                        <div class="title">
                            <div class="line"></div>
                            <h4>John Nisson</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat mollitia saepe nostrum
                            distinctio voluptas reprehenderit provident amet, hic tenetur adipisci, veritatis odio a
                            ipsum
                            eius voluptatibus pariatur suscipit maxime perspiciatis.</p>
                    </div>
                    <ul class="about">
                        <li class="items item-0">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-award"></i>
                                    <h5>Specialization</h5>
                                </div>
                                <div class="upDown uD-0" onclick="showHide('uD-0')">
                                    <i class="fas fa-chevron-up"></i>
                                    <i class="fas fa-chevron-down" style="display: none;"></i>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente
                                in,
                                dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                                debitis
                                voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                        </li>
                        <li class="items item-1">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-stethoscope"></i>
                                    <h5>List Of Treatments</h5>
                                </div>
                                <div class="upDown uD-1" onclick="showHide('uD-1')">
                                    <i class="fas fa-chevron-up" style="display: none;"></i>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                            <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Sapiente
                                in,
                                dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                                debitis
                                voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                        </li>
                        <li class="items item-2">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="far fa-hospital"></i>
                                    <h5>Work Experience</h5>
                                </div>
                                <div class="upDown uD-2" onclick="showHide('uD-2')">
                                    <i class="fas fa-chevron-up" style="display: none;"></i>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                            <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Sapiente
                                in,
                                dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                                debitis
                                voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                        </li>
                        <li class="items item-3">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-star"></i>
                                    <h5>Qualification</h5>
                                </div>
                                <div class="upDown uD-3" onclick="showHide('uD-3')">
                                    <i class="fas fa-chevron-up" style="display: none;"></i>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                            <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Sapiente
                                in,
                                dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                                debitis
                                voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                        </li>
                        <li class="items item-4">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-trophy"></i>
                                    <h5>Awards</h5>
                                </div>
                                <div class="upDown uD-4" onclick="showHide('uD-4')">
                                    <i class="fas fa-chevron-up" style="display: none;"></i>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                            <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Sapiente
                                in,
                                dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                                debitis
                                voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                        </li>
                        <li class="items item-5">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <h5>Location</h5>
                                </div>
                                <div class="upDown uD-5" onclick="showHide('uD-5')">
                                    <i class="fas fa-chevron-up" style="display: none;"></i>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                            <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Sapiente
                                in,
                                dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                                debitis
                                voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                        </li>
                        <li class="items item-6">
                            <div class="subHead">
                                <div class="subHeadInner">
                                    <i class="fas fa-rupee-sign"></i>
                                    <h5>Avg Fees</h5>
                                </div>
                                <div class="upDown uD-6" onclick="showHide('uD-6')">
                                    <i class="fas fa-chevron-up" style="display: none;"></i>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                            <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Sapiente
                                in,
                                dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                                debitis
                                voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                        </li>
                    </ul>
                </div>

            </div>
        </section>


        <!-- Task 08 Need Help Section -->

        <section class="container">
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>
            <button onclick="location=href='./submit-your-query.html'" class="greyishBlueBtn">Submit your query</button>
        </section>


        <!-- Footer section -->

        <footer>
            <div class="innerfooter">
                <figure><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
                        alt="logo">
                </figure>
                <ul class="navlist">
                    <a href="#">
                        <li>
                    </a>Doctor</li></a>
                    <a href="#">
                        <li>Hospital</li>
                    </a>
                    <a href="#">
                        <li>Treatment</li>
                    </a>
                    <a href="#">
                        <li>Other Services</li>
                    </a>
                    <a href="#">
                        <li>FAQs</li>
                    </a>
                </ul>
                <ul class="socialLogos">
                    <a href="#">
                        <li><i class="fab fa-facebook-f"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-pinterest-p"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-twitter"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-google-plus-g"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-instagram"></i></li>
                    </a>
                </ul>
                <p class="rights">All Rights Reserved. &copy; tvastra 2018</p>
            </div>
        </footer>

    </div>

    <script src="../assets/scripts/script.js"></script>
</body>

</html>