<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/theme.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/faq.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/CommonClasses.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>FAQs</title>
</head>

<body>

    <div class="mainContainer">

        <!-- Navbar section -->

        <nav>
            <a href="./index.html"><img class="top-logo"
                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo">
            </a>
            <div class="navDeskDiv">
                <ul class="navigation">
                    <a href="./doctors.html">
                        <li>Doctors</li>
                    </a>
                    <a href="./hospitals.html">
                        <li>Hospitals</li>
                    </a>
                    <a href="./treatment.html">
                        <li>Treatment</li>
                    </a>
                    <a href="#">
                        <li>Other Services</li>
                    </a>
                    <a href="./aboutUs.html">
                        <li>About</li>
                    </a>
                    <a href="./tvastra-plus.html">
                        <li>Tvastra+</li>
                    </a>
                </ul>
                <div class="navbtn">
                    <button onclick="location.href='./signIn.html'" class="navB1 whiteBtn">Login / Sign Up</button>
                    <button class="darkBlueBtnSmall">Get a Quote</button>
                </div>
                <div class="navMenu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>


        <!-- header section -->

        <header class="header">
            <h3>FAQ</h3>
            <h5>Home / FAQ</h5>
        </header>

        <!-- question section  -->

        <section class="mainSection">
            <ul class="about">
                <li class="faqItems item-0">
                    <div class="subHead">
                        <div class="subHeadInner">
                            <h5 style="color:var(--darkBlue)">How do I make Payments?</h5>
                        </div>
                        <div class="upDown uD-0" onclick="faqShowHide('uD-0')">
                            <i class="fas fa-chevron-up"></i>
                            <i class="fas fa-chevron-down" style="display: none;"></i>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente
                        in,
                        dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                        debitis
                        voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                </li>
                <li class="faqItems item-1">
                    <div class="subHead">
                        <div class="subHeadInner">
                            <h5>There is not enough money in my Portea Wallet for making a payment. What do I do?</h5>
                        </div>
                        <div class="upDown uD-1" onclick="faqShowHide('uD-1')">
                            <i class="fas fa-chevron-up" style="display: none;"></i>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Sapiente
                        in,
                        dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                        debitis
                        voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                </li>
                <li class="faqItems item-2">
                    <div class="subHead">
                        <div class="subHeadInner">
                            <h5>Can I transfer balance in Portea Wallet balance to another user?</h5>
                        </div>
                        <div class="upDown uD-2" onclick="faqShowHide('uD-2')">
                            <i class="fas fa-chevron-up" style="display: none;"></i>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Sapiente
                        in,
                        dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                        debitis
                        voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                </li>
                <li class="faqItems item-3">
                    <div class="subHead">
                        <div class="subHeadInner">
                            <h5>Is Portea Money the same as Portea Wallet</h5>
                        </div>
                        <div class="upDown uD-3" onclick="faqShowHide('uD-3')">
                            <i class="fas fa-chevron-up" style="display: none;"></i>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Sapiente
                        in,
                        dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                        debitis
                        voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                </li>
                <li class="faqItems item-4">
                    <div class="subHead">
                        <div class="subHeadInner">
                            <h5>Refund</h5>
                        </div>
                        <div class="upDown uD-4" onclick="faqShowHide('uD-4')">
                            <i class="fas fa-chevron-up" style="display: none;"></i>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Sapiente
                        in,
                        dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                        debitis
                        voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                </li>
                <li class="faqItems item-5">
                    <div class="subHead">
                        <div class="subHeadInner">
                            <h5>What is a Family ID?</h5>
                        </div>
                        <div class="upDown uD-5" onclick="faqShowHide('uD-5')">
                            <i class="fas fa-chevron-up" style="display: none;"></i>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Sapiente
                        in,
                        dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                        debitis
                        voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                </li>
                <li class="faqItems item-6">
                    <div class="subHead">
                        <div class="subHeadInner">
                            <h5>Who can be added as Family?</h5>
                        </div>
                        <div class="upDown uD-6" onclick="faqShowHide('uD-6')">
                            <i class="fas fa-chevron-up" style="display: none;"></i>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <p class="subParaNoDisplay">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Sapiente
                        in,
                        dignissimos laborum laboriosam vitae deserunt minima beatae non illo dolor facere
                        debitis
                        voluptatibus, magni fugit incidunt rem commodi sit dolores?</p>
                </li>
            </ul>
        </section>



        <!--Need Help Section -->

        <section class="container">
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>
            <button class="greyishBlueBtn">Submit your query</button>
        </section>


        <!-- Footer section -->

        <footer>
            <div class="innerfooter">
                <figure><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"
                        alt="logo">
                </figure>
                <ul class="navlist">
                    <a href="#">
                        <li>
                    </a>Doctor</li></a>
                    <a href="#">
                        <li>Hospital</li>
                    </a>
                    <a href="#">
                        <li>Treatment</li>
                    </a>
                    <a href="#">
                        <li>Other Services</li>
                    </a>
                    <a href="#">
                        <li>FAQs</li>
                    </a>
                </ul>
                <ul class="socialLogos">
                    <a href="#">
                        <li><i class="fab fa-facebook-f"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-pinterest-p"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-twitter"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-google-plus-g"></i></li>
                    </a>
                    <a href="#">
                        <li><i class="fab fa-instagram"></i></li>
                    </a>
                </ul>
                <p class="rights">All Rights Reserved. &copy; tvastra 2018</p>
            </div>
        </footer>

        <script src="../assets/scripts/script.js"></script>

    </div>
</body>

</html>