<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra</title>
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/theme.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/home.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/CommonClasses.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <!-- Task 02 Nav bar Section-->

    <nav>
        <a href="#"><img class="top-logo"
                src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="Logo">
        </a>
        <div class="navDeskDiv">
            <ul class="navigation">
                <a href="./doctors.html">
                    <li>Doctors</li>
                </a>
                <a href="./hospitals.html">
                    <li>Hospitals</li>
                </a>
                <a href="#">
                    <li>Treatment</li>
                </a>
                <a href="#">
                    <li>Other Services</li>
                </a>
                <a href="#">
                    <li>About</li>
                </a>
            </ul>
            <div class="navbtn">
                <button class="navB1 whiteBtn">Login / Sign Up</button>
                <button class="darkBlueBtnSmall">Get a Quote</button>
            </div>
            <div class="navMenu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>


    <!-- Task 03 Header Section -->

    <header>
        <div class="alignHead">
            <h1>Find Affordable Healthcare</h1>
            <p>Join the thousands of others who have exercised their rights to quality<br> healthcare at a price you can
                afford
            </p>
        </div>
        <form class="searchSection" action="get">
            <div class="input-box1">
                <i class="fas fa-map-marker-alt" id="locationSign"></i>
                <input type="text" name="cityN" id="cityN" placeholder="Ahemdabad">
                <i class="fas fa-crosshairs" id="targetSign"></i>
            </div>
            <div class="input-box2">
                <input type="text" name="information" id="information"
                    placeholder="Search for Doctor, hospitals and treatments">
            </div>
            <div class="btn">
                <button class="darkBlueBtnBig">Search</button>
            </div>
        </form>
    </header>

    <!-- Task 04 How it works Section -->

    <Section class="howItWorks">
        <div class="HeadAPara">
            <h2>How it works</h2>
            <p class="hap1P">Various facilities are provided here. But there is a protocol which needs to be followed so
                that you get the
                service at its best.</p>
            <p class="hap2P">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                exerci tation ullamcorper suscipit lobortis nisl ut </p>
        </div>
        <div class="hiw-main">
            <button class="firstbox">
                <h3><span>01</span>Fix Consultation</h3>
            </button>
            <div class="firstB-img">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png"
                        alt="Consultation">
                </figure>
            </div>
            <div class="fixConsultationInner">
                <h3>Fix Consultation</h3>
                <p>This depicts that user will have to fix appointment first when it selects a
                    particular doctor.</p>
            </div>
            <ul class="otherboxDiv">
                <li>
                    <button class="otherbox">
                        <h3><span>02</span>Upload Medical Reports</h3>
                    </button>
                </li>
                <li>
                    <button class="otherbox">
                        <h3><span>03</span>Consult with doctor</h3>
                    </button>
                </li>
                <li><button class="otherbox">
                        <h3><span>04</span>Fix Surgery</h3>
                    </button>
                </li>
                <li>
                    <button class="otherbox">
                        <h3><span>05</span>Hospital sent estimates</h3>
                    </button>
                </li>
                <li>
                    <button class="otherbox">
                        <h3><span>06</span>Payment
                            <h3>
                    </button>
                </li>
                <li>
                    <button class="otherbox">
                        <h3><span>07</span>Surgery
                        </h3>
                    </button>
                </li>
            </ul>
        </div>
    </Section>

    <!-- Task 05 World Class Expert Doctors Section  -->

    <section class="doctorsPanel">
        <div class="HeadAPara">
            <h2>World Class Expert Doctors!</h2>
            <p class="hap1P">The university of Texas Southeastern Medical center has been a long world-renowned research
                hospital. But
                untill the '80s, you couldn't go there. Now, with the addition of Aston Center and Zale Lipshy Hospital,
                UT
                Southeastern is also a mecca for patients.</p>
            <p class="hap2P">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                exerci tation ullamcorper suscipit lobortis nisl ut </p>
        </div>
        <div class="doc-div">
            <div class="docName1">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"
                        alt="doc image 1">
                </figure>
                <div class="line"></div>
                <h4>Duke Sanson</h4>
                <ul>
                    <li>Neuro Surgeon</li>
                    <li>Chain Department of Neurological</li>
                    <li>Surgery</li>
                    <li>Australia</li>
                </ul>
            </div>
            <div class="docName2">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg"
                        alt="doc image 2">
                </figure>
                <div class="line"></div>
                <h4>Georgea Peter</h4>
                <ul>
                    <li>Breast Cancer Surgeon</li>
                    <li>Director, UT, Southwest</li>
                    <li>London</li>
                </ul>
            </div>
            <div class="docName3">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg"
                        alt="doc image 3">
                </figure>
                <div class="line"></div>
                <h4>Charlie Moon</h4>
                <ul>
                    <li>Cardiac Surgeon</li>
                    <li>MBBS, MD, FRCP, MRCP, Fellowship</li>
                    <li>New Delhi, India</li>
                </ul>
            </div>
            <div class="docName4">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg"
                        alt="doc image 4">
                </figure>
                <div class="line"></div>
                <h4>Rose Moon</h4>
                <ul>
                    <li>Plastic Surgeon</li>
                    <li>Department of Plastic and</li>
                    <li>Reconstructive Surgery</li>
                    <li>Dubia</li>
                </ul>
            </div>
            <div class="docRadioBtn radBtn">
                <label class="innerRadio docRadCol">
                    <input type="radio" checked="checked" name="docRadio">
                    <div class="customRadio"></div>
                </label>
                <label class="innerRadio docRadCol">
                    <input type="radio" name="docRadio">
                    <div class="customRadio"></div>
                </label>
                <label class="innerRadio docRadCol">
                    <input type="radio" name="docRadio">
                    <div class="customRadio"></div>
                </label>
                <label class="innerRadio docRadCol">
                    <input type="radio" name="docRadio">
                    <div class="customRadio"></div>
                </label>
            </div>
        </div>
    </section>


    <!-- task 06 Featured Medical Treatment Section -->

    <section class="treatment">
        <div class="HeadAPara">
            <h2>Featured Medical Treatment</h2>
            <p class="hap1P">Join the thousands of others who have exercised their rights to equality healthcare at a
                price you can
                afford
            </p>
            <p class="hap2P">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                exerci tation ullamcorper suscipit lobortis nisl ut </p>
        </div>
        <div class="treatmentImgs">
            <div class="treatImgs1">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg"
                        alt="dentist cheaking up">
                </figure>
            </div>
            <div class="shadow1"></div>
            <div class="specialization s1">
                <h4>Dentistry</h4>
                <h5>50+ Specialists</h5>
            </div>

            <div class="treatImgs2">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg"
                        alt="patient and a doc">
                </figure>
            </div>
            <div class="shadow2"></div>
            <div class="specialization s2">
                <h4>Cancer</h4>
                <h5>50+ Specialists</h5>
            </div>

            <div class="treatImgs3">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg"
                        alt="doc checking heartbeat">
                </figure>
            </div>
            <div class="shadow3"></div>
            <div class="specialization s3">
                <h4>Cardiologic Treatment</h4>
                <h5>50+ Specialists</h5>
            </div>

            <div class="treatImgs4">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg"
                        alt="doc talking about patient">
                </figure>
            </div>
            <div class="shadow4"></div>
            <div class="specialization s4">
                <h4>Multi Organ Transplant</h4>
                <h5>50+ Specialists</h5>
            </div>

            <div class="treatImgs5">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg"
                        alt="patient's knee">
                </figure>
            </div>
            <div class="shadow5"></div>
            <div class="specialization s5">
                <h4>Orthopedics Surgery</h4>
                <h5>50+ Specialists</h5>
            </div>

            <div class="treatImgs6">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg"
                        alt="Pregnant Women">
                </figure>
            </div>
            <div class="shadow6"></div>
            <div class="specialization s6">
                <h4>Infertility Treatment</h4>
                <h5>50+ Specialists</h5>
            </div>
            <div class="treatRadioBtn radBtn">
                <label class="innerRadio treatRadCol">
                    <input type="radio" checked="checked" name="treatRadio">
                    <div class="customRadio"></div>
                </label>
                <label class="innerRadio treatRadCol">
                    <input type="radio" name="treatRadio">
                    <div class="customRadio"></div>
                </label>
                <label class="innerRadio treatRadCol">
                    <input type="radio" name="treatRadio">
                    <div class="customRadio"></div>
                </label>
            </div>
        </div>
    </section>

    <!-- Task 07 Exclusive servises section -->

    <section class="ex-services">
        <div class="HeadAPara">
            <h2>Exclusive services</h2>
            <p class="hap1P">We want you to be comfortable and thus apart form threating you illness, we provide you
                with other
                services
                that you can see</p>
            <p class="hap2P">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                exerci tation ullamcorper suscipit lobortis nisl ut </p>
        </div>
        <div class="serviceImgs">
            <div class="sI sI1">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png"
                        alt="travel">
                </figure>
                <h4><a href="#">Travel</a></h4>
            </div>
            <div class="sI sI2">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png"
                        alt="food">
                </figure>
                <h4><a href>Food</a></h4>
            </div>
            <div class="sI sI3">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png"
                        alt="accomodation">
                </figure>
                <h4><a href>Accomodation</a></h4>
            </div>
            <div class="sI sI4">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png"
                        alt="labs">
                </figure>
                <h4><a href>Labs</a></h4>
            </div>
            <div class="sI sI5">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png"
                        alt="reports">
                </figure>
                <h4><a href>Reports</a></h4>
            </div>
            <div class="ambulance">
                <figure>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png"
                        alt="ambulance">
                </figure>
                <h4><a href>Ambulance</a></h4>
            </div>
            <div class="other">
                <figure>
                    <i class="fas fa-plus-circle"></i>
                </figure>
                <h4><a href>Others</a></h4>
            </div>
        </div>
    </section>

    <!-- Task 08 Need Help Section -->

    <section class="container">
        <h2>Need Help?</h2>
        <p>Just let us know, we will happy to assist you</p>
        <button class="greyishBlueBtn">Submit your enquiry</button>
    </section>

    <!-- Task 09 Footer section -->

    <footer>
        <div class="innerfooter">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" alt="logo">
            <ul class="navlist">
                <a href="#">
                    <li>
                </a>Doctor</li></a>
                <a href="#">
                    <li>Hospital</li>
                </a>
                <a href="#">
                    <li>Treatment</li>
                </a>
                <a href="#">
                    <li>Other Services</li>
                </a>
                <a href="#">
                    <li>FAQs</li>
                </a>
            </ul>
            <ul class="socialLogos">
                <a href="#">
                    <li><i class="fab fa-facebook-f"></i></li>
                </a>
                <a href="#">
                    <li><i class="fab fa-pinterest-p"></i></li>
                </a>
                <a href="#">
                    <li><i class="fab fa-twitter"></i></li>
                </a>
                <a href="#">
                    <li><i class="fab fa-google-plus-g"></i></li>
                </a>
                <a href="#">
                    <li><i class="fab fa-instagram"></i></li>
                </a>
            </ul>
            <p class="rights">All Rights Reserved. &copy; tvastra 2018</p>
        </div>
    </footer>

</body>

</html>