/* Mobile View Starts Here  */
body {
  min-height: 100vh;
}

/* Mobile Navbar section */

nav {
  padding: var(--overallpaddingNoHeight);
  min-width: var(--minSize);
  height: 4rem;
}

.top-logo {
  width: 9rem;
  height: 2rem;
}

.navMenu {
  color: var(--iconsColor);
  font-size: 1.3rem;
  margin: 0 0.6rem;
  cursor: pointer;
}

.navDeskDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation,
.navbtn {
  visibility: hidden;
}

.navigation {
  flex-direction: column;
}

/* Mobile view Main Section */

.container {
  padding: var(--overallpaddingNoHeight);
  min-width: var(--minSize);
  background-color: var(--lightGreyishBlue);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innerSection {
  margin: 4rem 0;
  background-color: var(--white);
  box-shadow: 2px 2px 10px 1px var(--greyishBlue),
    -2px -2px 10px 1px var(--greyishBlue);
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  padding: 1rem 0;
}

.heading h4 {
  color: var(--greyishBlue);
}

.appointmentFormOuter {
  border-top: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  align-items: start;
  justify-content: center;
}

.appForm {
  margin-bottom: 1.2rem;
}

.appForm h6 {
  margin-bottom: 0.8rem;
}

.inputDiv {
  border: 1px solid var(--lightGrey);
  height: 3.5rem;
  width: 25.5rem;
}

.selectDivOption {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 0.6rem;
}

.selectDivOption span {
  margin: 3px 3px 0px 5px;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.uploadDiv {
  display: flex;
  align-items: center;
  justify-content: start;
}

.uploadDiv input {
  padding: 0.4rem;
  font-size: 0.8rem;
}

.uploadDiv span {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.appTextArea {
  border: 1px solid var(--lightGrey);
  width: 25.5rem;
  height: 6rem;
}

.appointmentFormOuter button {
  width: 100%;
  letter-spacing: 5px;
}

.footer {
  margin-bottom: 3rem;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////\
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Tablet view starts here */

@media only screen and (min-width: 768px) {
  /* Tablet view Main section */

  .innerSection {
    margin: 6rem 0;
  }

  .inputDiv,
  .appTextArea {
    width: 35rem;
  }

  .footer {
    margin-bottom: 3rem;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////\
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*  Desktop view Starts Here */

@media only screen and (min-width: 1025px) {
  /* Desktop View Navigation Section */
  .top-logo {
    width: 11rem;
    height: 2.5rem;
  }

  .navDeskDiv {
    width: 100%;
    display: grid;
    height: max-content;
    grid-template: 1fr /2fr 1fr 0px;
    align-items: center;
    justify-items: end;
    grid-column-gap: 1rem;
  }

  .navMenu {
    visibility: hidden;
    grid-area: 1/3/1/4;
  }

  .navigation,
  .navbtn {
    visibility: visible;
  }

  .navigation {
    flex-direction: row;
    flex-wrap: nowrap;
    grid-area: 1/1/1/2;
  }

  .navigation li {
    padding: 3px;
  }

  .navigation li:hover {
    color: var(--white);
    background-color: var(--greyishBlue);
    border-radius: 2px;
  }

  .navigation a {
    margin: 0 0.5rem;
  }

  .navbtn {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
  }

  .navB1 {
    margin-right: 7px;
  }

  /* Desktop view main section */

  .innerSection {
    margin: 4rem 0;
  }

  .inputDiv,
  .appTextArea {
    width: 40rem;
  }

  .footer {
    margin-bottom: 2rem;
  }
}
