/* Mobile View Starts Here  */

/* Mobile Navbar section */

nav {
  padding: var(--overallpaddingNoHeight);
  min-width: var(--minSize);
  height: 4rem;
}

.top-logo {
  width: 9rem;
  height: 2rem;
}

.navMenu {
  color: var(--iconsColor);
  font-size: 1.3rem;
  margin: 0 0.6rem;
  cursor: pointer;
}

.navDeskDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation,
.navbtn {
  visibility: hidden;
}

.navigation {
  flex-direction: column;
}

/* Mobile view header section  */

.header {
  padding: var(--overallpadding);
  min-width: var(--minSize);
  background: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png)
    no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  height: 20rem;
}

.header h3,
.header h5 {
  color: var(--white);
}

.header h5 {
  margin-top: 1rem;
  font-family: "Nexa-light";
}

/* mobile view main section */

.mainSection {
  padding: var(--overallpadding);
  min-width: var(--minSize);
}

/* about section */

.about,
.items {
  display: flex;
  flex-direction: column;
  align-items:stretch;
}

.items p {
  background-color: var(--lighterSky);
  padding: 1rem 0.5rem;
}

.subHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 26rem;
  padding: 1rem 0;
}

.upDown {
  padding: 0.3rem 0.4rem;
  background-color: var(--lighterSky);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upDown i {
  font-size: 1rem;
  color: var(--greyishBlue);
  cursor: pointer;
}

.subHeadInner {
  display: flex;
  align-items: center;
  justify-content: start;
}

.subHeadInner h5 {
  color: var(--greyishBlue);
  margin-right: 10px;
}

/* Mobile Need Help Section */

.container {
  padding: var(--overallpadding);
  background-color: var(--skyBlue);
  min-width: var(--minSize);
  text-align: center;
}

.container h2 {
  color: white;
}

.container p {
  padding: 15px 0;
}

.container button {
  margin-top: 1rem;
}

/* Mobile view Footer Section  */

footer {
  min-width: var(--minSize);
  padding: var(--overallpadding);
  background-color: var(--darkBlue);
  flex-direction: column;
  justify-content: center;
}

.innerfooter {
  display: grid;
  height: max-content;
  grid-template: 70px 1fr 50px 60px / 1fr;
  align-items: center;
  justify-items: center;
}

.innerfooter img {
  object-fit: contain;
}

.innerfooter figure {
  width: 12rem;
  height: 3rem;
}

.navlist {
  flex-direction: column;
}

.navlist li {
  margin: 0.4rem 0;
  color: var(--lime);
}

.socialLogos li {
  margin: 0 1rem;
  color: var(--white);
}

footer p {
  color: var(--lime);
}

/* ////////////////////////////////////////////////////////////
      //////////////////////////////////////////////////////////////
      ///////////////////////////////////////////////////////////////////
       */

/* Tablet view starts here */

@media only screen and (min-width: 768px) {
  /* Tablet view main section */

  /* about section */

  .subHead {
    min-width: 50rem;
    padding: 1.3rem 0;
  }

  /*Tablet view Footer section  */
  footer {
    background-color: var(--white);
  }

  .innerfooter {
    width: 100%;
    grid-template: 1fr 1fr/2fr 1fr;
    justify-items: start;
    align-items: center;
    grid-gap: 1rem;
  }

  .innerfooter figure {
    grid-area: 1/2/1/3;
    justify-self: end;
    width: 13rem;
    height: 3.5rem;
    padding-right: 15px;
  }

  footer p {
    padding: 0px;
    color: var(--darkBlue);
  }

  .navlist {
    grid-area: 1/1/1/2;
    flex-direction: row;
  }

  .navlist li {
    margin-right: 20px;
    color: var(--darkBlue);
  }

  .rights {
    grid-area: 2/1/2/2;
  }

  .socialLogos {
    grid-area: 2/2/2/3;
    justify-self: end;
  }

  .socialLogos li {
    color: var(--darkBlue);
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////\
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*  Desktop view Starts Here */

@media only screen and (min-width: 1025px) {
  /* Desktop View Navigation Section */
  .top-logo {
    width: 11rem;
    height: 2.5rem;
  }

  .navDeskDiv {
    width: 100%;
    display: grid;
    height: max-content;
    grid-template: 1fr /2fr 1fr 0px;
    align-items: center;
    justify-items: end;
    grid-column-gap: 1rem;
  }

  .navMenu {
    visibility: hidden;
    grid-area: 1/3/1/4;
  }

  .navigation,
  .navbtn {
    visibility: visible;
  }

  .navigation {
    flex-direction: row;
    flex-wrap: nowrap;
    grid-area: 1/1/1/2;
  }

  .navigation li {
    padding: 3px;
  }

  .navigation li:hover {
    color: var(--white);
    background-color: var(--greyishBlue);
    border-radius: 2px;
  }

  .navigation a {
    margin: 0 0.5rem;
  }

  .navbtn {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
  }

  .navB1 {
    margin-right: 7px;
  }

  /* Desktop view header section  */

  .header {
    align-items: start;
    height: 16rem;
  }

  /* desktop view main section */

  /* about section */

  .subHead {
    min-width: 72rem;
  }

  /* Desktop View Need Help Section */

  .container {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    align-items: start;
  }

  .container h2,
  .container p {
    grid-area: 1/1/1/2;
    justify-self: left;
  }

  .container p {
    position: relative;
    top: 3.5rem;
    padding: 0;
  }

  .container button {
    grid-area: 1/2/1/3;
    justify-self: right;
  }
}
