/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////\
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Mobile View Starts Here  */

/* Task 02 Nav section */

nav {
  padding: var(--overallpaddingNoHeight);
  min-width: var(--minSize);
  height: 4rem;
}

.top-logo {
  width: 9rem;
  height: 2rem;
}

.navMenu {
  color: var(--iconsColor);
  font-size: 1.3rem;
  margin: 0 0.6rem;
  cursor: pointer;
}

.navDeskDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation,
.navbtn {
  visibility: hidden;
}

.navigation {
  flex-direction: column;
}

/* Task 03 Header Section */

header {
  background-color: var(--skyBlue);
  padding: var(--overallpadding);
  height: max-content;
  min-width: var(--minSize);
}

header p {
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}

.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box1,
.input-box2 {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--white);
  width: 27rem;
  height: 3.3rem;
  padding: 0 0.8rem;
  margin-bottom: 0.8rem;
}

#locationSign,
#targetSign {
  font-size: 1.1rem;
}

/* Task 04 How it works section css starts here */

.howItWorks {
  padding: var(--overallpadding);
  min-width: var(--minSize);
}

.boxUl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 27rem;
  height: 4rem;
  margin-bottom: 1rem;
  border-radius: 0.7rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.box span {
  font-family: "Nexa-bold";
  padding: 0 1rem;
  font-size: 1.5rem;
}

.boxSelected {
  color: var(--darkBlue);
  border: 1.5px solid var(--darkBlue);
}

.boxSelected span {
  color: var(--greyishBlue);
}

.boxUnSelected {
  border: 1.5px solid var(--lightGrey);
  color: var(--lightGrey);
  opacity: 0.5;
}

.boxUnSelected span {
  color: var(--lightGrey);
}

.boxUnSelected h4 {
  color: var(--lightGrey);
}

.boxContentDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxContentDisplay img {
  object-fit: contain;
}

.boxContent {
  display: none;
}

.box-img {
  width: 23rem;
  height: 23rem;
  padding: 1rem 0;
}

.boxInContent {
  text-align: center;
  margin-bottom: 30px;
}

.boxInContent h4 {
  margin-bottom: 15px;
}

/* Task 05 World Class Expert Doctors Section  */

.doctorsPanel {
  padding: var(--overallpadding);
  background-color: var(--darkBlue);
  min-width: var(--minSize);
}

.doctorsPanel h2,
.doctorsPanel p {
  color: var(--white);
}

.docSet {
  height: max-content;
  width: 100%;
  display: grid;
  grid-template: repeat(4, 1fr) 0px / 1fr;
  align-items: center;
  justify-items: center;
  grid-row-gap: 25px;
}

.docDiv {
  box-shadow: 0px 4px 0px var(--skyBlue);
  background-color: var(--white);
  width: auto;
  height: 37rem;
}

.docSetNoDisplay {
  display: none;
}

.docName0 {
  grid-area: 1/1/1/2;
}

.docName1 {
  grid-area: 2/1/2/2;
}

.docName2 {
  grid-area: 3/1/3/2;
}

.docName3 {
  grid-area: 4/1/4/2;
}

.docSet figure {
  width: 27rem;
  height: 28rem;
}

.docDiv h5 {
  color: var(--blue);
  position: relative;
  left: 35px;
  bottom: 11px;
  display: inline;
}

.docDiv ul {
  flex-direction: column;
  align-items: start;
  margin-left: 35px;
}

.line {
  width: 30px;
  height: 20px;
  border-bottom: 2px solid var(--blue);
  position: relative;
}

.docRadioBtn {
  display: flex;
  visibility: hidden;
}

/* Task 06 Featured Medical Treatment */

.treatment {
  padding: var(--overallpadding);
  min-width: var(--minSize);
}

.treatSet {
  display: grid;
  width: 100%;
  height: max-content;
  grid-template: repeat(6, 1fr) / 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
}

.treatImgs1 figure,
.treatImgs2 figure,
.treatImgs3 figure,
.treatImgs4 figure,
.treatImgs5 figure,
.treatImgs6 figure {
  width: 27rem;
  height: 28rem;
}

.treatImgs1,
.shadow1,
.s1 {
  grid-area: 1/1/1/2;
}

.treatImgs2,
.shadow2,
.s2 {
  grid-area: 2/1/2/2;
}

.treatImgs3,
.shadow3,
.s3 {
  grid-area: 3/1/3/2;
}

.treatImgs4,
.shadow4,
.s4 {
  grid-area: 4/1/4/2;
}

.treatImgs5,
.shadow5,
.s5 {
  grid-area: 5/1/5/2;
}

.treatImgs6,
.shadow6,
.s6 {
  grid-area: 6/1/6/2;
}

.shadow1,
.shadow2,
.shadow3,
.shadow4,
.shadow5,
.shadow6 {
  box-shadow: inset 0px -120px 80px var(--darkBlue);
  -moz-box-shadow: inset 0px -120px 80px var(--darkBlue);
  -webkit-box-shadow: inset 0px -120px 80px var(--darkBlue);
  width: 27rem;
  height: 28rem;
  opacity: 0.9;
}

.specialization {
  justify-self: start;
  align-self: end;
  position: relative;
  left: 1.5rem;
  bottom: 1.5rem;
}

.treatSet h5 {
  color: var(--white);
}

.treatSet h6 {
  color: var(--white);
  font-family: serif;
  margin-top: 3px;
}

.treatRadioBtn {
  display: flex;
  visibility: hidden;
}

/* Task 07 Exclusive Services  */

.ex-services {
  padding: var(--overallpadding);
  min-width: var(--minSize);
  background-color: var(--lightLime);
}

.serviceImgs {
  display: grid;
  height: max-content;
  grid-template: repeat(3, 1fr) 0px /1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
}

.sI,
.ambulance {
  background-color: var(--white);
  width: 13rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.sI figure,
.ambulance figure {
  width: 5rem;
  height: 5rem;
}

.serviceImgs a {
  text-transform: uppercase;
  color: var(--iconsColor);
}

.sI1 {
  grid-area: 1/1/1/2;
}

.sI2 {
  grid-area: 1/2/1/3;
}

.sI3 {
  grid-area: 2/1/2/2;
}

.sI4 {
  grid-area: 2/2/2/3;
}

.sI5 {
  grid-area: 3/1/3/2;
}

.ambulance {
  grid-area: 3/2/3/3;
}

.other {
  visibility: hidden;
}

/* Task 08 Need Help Section */

.container {
  padding: var(--overallpadding);
  background-color: var(--skyBlue);
  min-width: var(--minSize);
  text-align: center;
}

.container h2 {
  color: white;
}

.container p {
  padding: 15px 0;
}

.container button {
  margin-top: 1rem;
}

/* Task 09 Footer Section  */

footer {
  min-width: var(--minSize);
  padding: var(--overallpadding);
  background-color: var(--darkBlue);
  flex-direction: column;
  justify-content: center;
}

.innerfooter {
  display: grid;
  height: max-content;
  grid-template: 70px 1fr 50px 60px / 1fr;
  align-items: center;
  justify-items: center;
}

.innerfooter img {
  object-fit: contain;
}

.innerfooter figure {
  width: 12rem;
  height: 3rem;
}

.navlist {
  flex-direction: column;
}

.navlist li {
  margin: 0.4rem 0;
  color: var(--lime);
}

.socialLogos li {
  margin: 0 1rem;
  color: var(--white);
}

footer p {
  color: var(--lime);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////\
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* TABLET VIEW SECTION STARTS HERE */

@media only screen and (min-width: 768px) {
  /* Task 10 Tablet view header */

  .searchSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }

  .input-box1 {
    width: 150px;
    border-right: 1px solid var(--darkBlue);
    flex-grow: 1;
  }

  .input-box2 {
    width: 200px;
    flex-grow: 2;
  }

  .btn button {
    position: relative;
    bottom: 0.4rem;
    flex-grow: 2;
  }

  /* Task 11 Tablet view How it works section */

  .boxUl {
    height: max-content;
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template: 1fr / 1fr 1fr;
    grid-gap: 1rem;
    width: 100%;
  }

  .box {
    width: 25rem;
  }

  .boxLi1,
  .boxLi2,
  .boxLi3,
  .boxLi4,
  .boxLi5,
  .boxLi6,
  .boxLi7 {
    grid-area: 1/1/1/2;
    justify-self: start;
  }

  .boxLi2 {
    margin-top: 5rem;
  }
  .boxLi3 {
    margin-top: 10rem;
  }
  .boxLi4 {
    margin-top: 15rem;
  }
  .boxLi5 {
    margin-top: 20rem;
  }
  .boxLi6 {
    margin-top: 25rem;
  }
  .boxLi7 {
    margin-top: 30rem;
  }

  .boxPos {
    grid-area: 1/2/1/3;
  }

  /* Task 12 Tablet view Doctors section */

  .docSet {
    grid-template: 1fr 1fr/ 1fr 1fr;
    grid-gap: 1rem;
  }

  .docDiv {
    height: 37.5rem;
  }

  .docName0 {
    grid-area: 1/1/1/2;
  }

  .docName1 {
    grid-area: 1/2/1/3;
  }

  .docName2 {
    grid-area: 2/1/2/2;
  }

  .docName3 {
    grid-area: 2/2/2/3;
  }

  /*  Task 13 Tablet view Featured medical treatment */

  .treatSet {
    width: max-content;
    grid-template: 1fr 1fr/1fr 1fr;
  }

  .treatSetNoDisplay {
    display: none;
  }

  .treatImgs1,
  .shadow1,
  .s1 {
    grid-area: 1/1/1/2;
  }

  .treatImgs2,
  .shadow2,
  .s2 {
    grid-area: 1/2/1/3;
  }

  .treatImgs3,
  .shadow3,
  .s3 {
    grid-area: 2/1/2/2;
  }

  .treatImgs4,
  .shadow4,
  .s4 {
    grid-area: 2/2/2/3;
  }

  .treatImgs5,
  .shadow5,
  .s5 {
    grid-area: 3/1/3/2;
  }

  .treatImgs6,
  .shadow6,
  .s6 {
    grid-area: 3/2/3/3;
  }
  .specialization {
    left: 1rem;
    bottom: 1rem;
  }

  /* Task 14 Tablet view exclusive services section */

  .serviceImgs {
    grid-template: 1fr 1fr 0px / repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }

  .sI,
  .ambulance {
    width: 16.5rem;
    height: 11rem;
  }

  .sI figure,
  .ambulance figure {
    width: 6rem;
    height: 6rem;
  }

  .sI1 {
    grid-area: 1/1/1/2;
  }

  .sI2 {
    grid-area: 1/2/1/3;
  }

  .sI3 {
    grid-area: 1/3/1/4;
  }

  .sI4 {
    grid-area: 2/1/2/2;
  }

  .sI5 {
    grid-area: 2/2/2/3;
  }

  .ambulance {
    grid-area: 2/3/2/4;
  }

  /* Task 15 Tablet view Footer section  */
  footer {
    background-color: var(--white);
  }

  .innerfooter {
    width: 100%;
    grid-template: 1fr 1fr/2fr 1fr;
    justify-items: start;
    align-items: center;
    grid-gap: 1rem;
  }

  .innerfooter figure {
    grid-area: 1/2/1/3;
    justify-self: end;
    width: 13rem;
    height: 3.5rem;
    padding-right: 15px;
  }

  footer p {
    padding: 0px;
    color: var(--darkBlue);
  }

  .navlist {
    grid-area: 1/1/1/2;
    flex-direction: row;
  }

  .navlist li {
    margin-right: 20px;
    color: var(--darkBlue);
  }

  .rights {
    grid-area: 2/1/2/2;
  }

  .socialLogos {
    grid-area: 2/2/2/3;
    justify-self: end;
  }

  .socialLogos li {
    color: var(--darkBlue);
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////\
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (min-width: 1025px) {
  /* Task 16  Desktop view Starts Here */

  /* Desktop View Navigation Section */
  .top-logo {
    width: 11rem;
    height: 2.5rem;
  }

  .navDeskDiv {
    width: 100%;
    display: grid;
    height: max-content;
    grid-template: 1fr /2fr 1fr 0px;
    align-items: center;
    justify-items: end;
    grid-column-gap: 1rem;
  }

  .navMenu {
    visibility: hidden;
    grid-area: 1/3/1/4;
  }

  .navigation,
  .navbtn {
    visibility: visible;
  }

  .navigation {
    flex-direction: row;
    flex-wrap: nowrap;
    grid-area: 1/1/1/2;
  }

  .navigation li {
    padding: 3px;
  }

  .navigation li:hover {
    color: var(--white);
    background-color: var(--greyishBlue);
    border-radius: 2px;
  }

  .navigation a {
    margin: 0 0.5rem;
  }

  .navbtn {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
  }

  .navB1 {
    margin-right: 7px;
  }

  /* Desktop View Header Section  */

  header {
    background: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg)
      no-repeat center center/cover;
    height: 26rem;
    padding: 0 3.8rem;
  }

  .searchSection {
    align-items: center;
    justify-content: start;
  }

  header h1 {
    padding-top: 6.5rem;
  }

  .input-box1,
  .input-box2 {
    margin: 0;
  }

  .input-box1 {
    width: 17rem;
    flex-grow: 0;
  }

  .input-box2 {
    flex-grow: 0;
    width: 25rem;
  }

  #locationSign {
    padding-left: 10px;
    font-size: 1.2rem;
  }

  #targetSign {
    padding-right: 5px;
    font-size: 1.2rem;
  }

  .btn button {
    flex-grow: 0;
    position: relative;
    bottom: 0rem;
  }

  /* Desktop View How it works Section */
  .box {
    width: 30rem;
    height: 6rem;
    border-radius: 0.3rem;
  }

  .boxSelected {
    border: 1.5px solid var(--greyishBlue);
  }

  .box span {
    padding: 0 2rem;
    font-size: 1.9rem;
  }

  .boxUl {
    margin: 1rem 0;
  }

  .boxLi1 {
    margin-bottom: 0;
  }

  .boxLi2 {
    margin-top: 6.5rem;
    margin-bottom: 0;
  }
  .boxLi3 {
    margin-top: 13rem;
    margin-bottom: 0;
  }
  .boxLi4 {
    margin-top: 19.5rem;
    margin-bottom: 0;
  }
  .boxLi5 {
    margin-top: 26rem;
    margin-bottom: 0;
  }
  .boxLi6 {
    margin-top: 32.5rem;
    margin-bottom: 0;
  }
  .boxLi7 {
    margin-top: 39rem;
    margin-bottom: 0;
  }

  .box-img {
    width: 35rem;
    height: 35rem;
    padding: 1rem 0;
  }

  /* Desktop View World Class Expert Doctors! Section */

  .docSet {
    grid-template: 1fr / repeat(4, 1fr);
    grid-gap: 0 0.5rem;
    padding: 0;
    margin-top: 1rem;
  }

  .docName0 {
    grid-area: 1/1/1/2;
  }

  .docName1 {
    grid-area: 1/2/1/3;
  }

  .docName2 {
    grid-area: 1/3/1/4;
  }

  .docName3 {
    grid-area: 1/4/1/5;
  }

  .docDiv {
    width: 17.5rem;
    height: 25.5rem;
  }

  .docSet figure {
    width: 17.5rem;
    height: 18rem;
  }

  .docSet li {
    font-size: 0.8rem;
    color: var(--darkBlue);
  }

  .line {
    border-bottom: 1.5px solid var(--blue);
  }

  .docRadioBtn {
    visibility: visible;
    grid-area: 2/1/2/2;
  }

  .docRadCol input:checked ~ .customRadio {
    background-color: var(--darkBlue);
    border: 2px solid var(--blue);
  }

  /* Desktop view treatment section */

  .treatSet {
    grid-template: repeat(12, 3rem) / repeat(3, 1fr);
    margin-top: 1.8rem;
    grid-gap: 0.5rem;
    align-items: start;
  }

  .treatImgs1 figure,
  .shadow1,
  .treatImgs2 figure,
  .shadow2,
  .treatImgs3 figure,
  .shadow3,
  .treatImgs4 figure,
  .shadow4,
  .treatImgs5 figure,
  .shadow5,
  .treatImgs6 figure,
  .shadow6 {
    width: 23.5rem;
  }

  .treatImgs1 figure,
  .shadow1 {
    height: 13.5rem;
  }

  .treatImgs1,
  .shadow1,
  .s1 {
    grid-area: 1/1/5/2;
  }

  .treatImgs2 figure,
  .shadow2 {
    height: 20.5rem;
  }

  .treatImgs2,
  .shadow2,
  .s2 {
    grid-area: 1/2/6/3;
  }

  .treatImgs3 figure,
  .shadow3 {
    height: 17rem;
  }

  .treatImgs3,
  .shadow3,
  .s3 {
    grid-area: 1/3/5/4;
  }

  .treatImgs4 figure,
  .shadow4 {
    height: 28rem;
  }

  .treatImgs4,
  .shadow4,
  .s4 {
    grid-area: 5/1/13/2;
  }

  .treatImgs5 figure,
  .shadow5 {
    height: 21rem;
  }

  .treatImgs5,
  .shadow5,
  .s5 {
    grid-area: 7/2/13/3;
  }

  .treatImgs6 figure,
  .shadow6 {
    height: 24.5rem;
  }

  .treatImgs6,
  .shadow6,
  .s6 {
    grid-area: 6/3/13/4;
  }

  .s2,
  .s3 {
    top: 2.2rem;
  }

  .treatRadioBtn {
    visibility: visible;
    grid-area: 13/1/13/2;
  }

  .treatRadCol input:checked ~ .customRadio {
    background-color: var(--white);
    border: 2px solid var(--blue);
  }

  /* Desktop view exclusive services section */

  .serviceImgs {
    grid-template: 1fr 0rem / repeat(6, 1fr);
    grid-gap: 0 0.5rem;
    margin: 1rem 0;
  }

  .sI,
  .other {
    width: 11.5rem;
    height: 12rem;
    border-radius: 0;
  }

  .other {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
  }

  .other i {
    font-size: 4.5rem;
    color: var(--greyishBlue);
    margin-bottom: 1rem;
  }

  .sI1 {
    grid-area: 1/1/1/2;
  }

  .sI2 {
    grid-area: 1/2/1/3;
  }

  .sI3 {
    grid-area: 1/3/1/4;
  }

  .sI4 {
    grid-area: 1/4/1/5;
  }

  .sI5 {
    grid-area: 1/5/1/6;
  }

  .other {
    visibility: visible;
    grid-area: 1/6/1/7;
  }

  .ambulance {
    visibility: hidden;
    width: 10rem;
    grid-area: 2/1/2/2;
  }

  /* Desktop View Need Help Section */

  .container {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    align-items: start;
  }

  .container h2,
  .container p {
    grid-area: 1/1/1/2;
    justify-self: left;
  }

  .container p {
    position: relative;
    top: 3.5rem;
    padding: 0;
  }

  .container button {
    grid-area: 1/2/1/3;
    justify-self: right;
  }
}
