@font-face {
  font-family: "Nexa-bold";
  src: url(../fonts/Nexa-Bold.otf);
}

@font-face {
  font-family: "Nexa-light";
  src: url(../fonts/Nexa-Light.otf);
}

:root {
  --iconsColor: #525659;
  --skyBlue: #93bede;
  --lighterSky: #e5f1f7;
  --darkBlue: #021433;
  --lightGrey: #636668;
  --lime: #cccccc;
  --blue: #3792f3;
  --lightLime: #f3f3f3;
  --greyishBlue: #0173b2;
  --darkGreyishBlue: #005e91;
  --lightGreyishBlue: #7ab0d4;
  --white: #fff;
  --black: #000;
  --selectCol: #d3d3d3;
  --minSize: 30rem;
  --overallpadding: 2.5rem 1.5rem;
  --overallpaddingNoHeight: 0 1.5rem;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nexa-bold";
  color: var(--darkBlue);
}

h1 {
  font-size: 2.3rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 2.3rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.2rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.2rem;
}

p {
  font-size: 1.2rem;
  color: var(--darkBlue);
  font-family: "Nexa-light";
  line-height: 1.4rem;
}

span,
label {
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-family: "Nexa-light";
  color: var(--darkblue);
}

a {
  text-decoration: none;
}

a,
button,
input {
  cursor: pointer;
}

button {
  font-family: "Nexa-light";
}

td {
  font-family: "Nexa-bold";
  font-size: 0.9rem;
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  outline: none;
  border: none;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  font-family: "Nexa-light";
  color: var(--darkBlue);
}

input[type="date"] {
  color: var(--lightGrey);
  padding: 0.9rem 1rem;
}

input[type="text"] input::placeholder,
textarea::placeholder {
  font-size: 0.8rem;
  color: var(--lightGrey);
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav,
section,
footer,
ul {
  display: flex;
  align-items: center;
}

section {
  flex-direction: column;
}

nav {
  justify-content: space-between;
}

select,
option {
  width: 100%;
  border: none;
  font-family: "Nexa-light";
  color: var(--darkBlue);
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  background-color: var(--white);
}

select {
  padding: 0.5rem;
}

li {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Nexa-light";
  color: var(--lightGrey);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    --minSize: 55rem;
    --overallpadding: 2.5rem 3rem;
    --overallpaddingNoHeight: 0 3rem;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  h3 {
    font-size: 2.1rem;
    line-height: 2.3rem;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 1.9rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  h6 {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }

  p {
    font-size: 1.3rem;
    color: var(--darkBlue);
    font-family: "Nexa-light";
    line-height: 1.5rem;
  }

  span {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  label,
  select {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  li {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (min-width: 1025px) {
  :root {
    --minSize: 80rem;
    --overallpadding: 3.8rem;
    --overallpaddingNoHeight: 0.5rem 3.8rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }

  h3 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  h4 {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  h5 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  h6 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  p {
    font-size: 1.4rem;
    color: var(--darkBlue);
    font-family: "Nexa-light";
    line-height: 1.6rem;
  }

  span {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  label,
  select {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  li {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
