/* Mobile View Starts Here  */

/* Mobile Navbar section */

nav {
  padding: var(--overallpaddingNoHeight);
  min-width: var(--minSize);
  height: 4rem;
}

.top-logo {
  width: 9rem;
  height: 2rem;
}

.navMenu {
  color: var(--iconsColor);
  font-size: 1.3rem;
  margin: 0 0.6rem;
  cursor: pointer;
}

.navDeskDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation,
.navbtn {
  visibility: hidden;
}

.navigation {
  flex-direction: column;
}

/* Mobile view header section  */

.header {
  position: absolute;
  top: 4rem;
  padding: var(--overallpadding);
  min-width: var(--minSize);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  height: 18rem;
  background: linear-gradient(to right, rgba(1, 115, 178, 0.9), transparent);
}

.bgImg {
  width: 100%;
  height: 18rem;
}

.header h3,
.header h5 {
  color: var(--white);
}

.header h5 {
  margin-top: 1rem;
  font-family: "Nexa-light";
}

/* Mobile view Main section */

/* main outer div */
.mainOuter {
  padding: var(--overallpadding);
  min-width: var(--minSize);
}

.mainSection {
  justify-content: center;
}

/* heading section */

.heading {
  margin-bottom: 2rem;
}

/* outer div */

.mainDiv {
  display: grid;
  grid-template: repeat(3, max-content) / 1fr;
  align-items: start;
  justify-content: center;
  height: max-content;
}

/* main figure section */

.mainFig {
  grid-area: 1/1/1/2;
  width: 100%;
  height: 20rem;
  margin-bottom: 1.5rem;
}

/* about section */

.about {
  padding: 1rem 0;
  grid-area: 2/1/2/2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.about p {
  margin: 1.5rem 0;
}

.innerLi {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 1rem;
}

.innerLi li {
  color: var(--darkBlue);
  margin-bottom: 0.7rem;
}

/* circle icons section */

.circleIconSection {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.iconsMarginBottom {
  margin-bottom: 1.5rem;
}

.iconOuter {
  background-color: var(--lightGreyishBlue);
  border-radius: 50px;
  padding: 1rem;
}

.iconOuter i {
  font-size: 2rem;
  color: var(--darkBlue);
}

.icons h5 {
  margin: 0.8rem 0;
}

.icons p {
  font-size: 0.9rem;
}

/* Mobile view info section */

.infoCards {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border: 1.5px solid var(--lightGrey);
  width: 100%;
  height: max-content;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: start;
}

.line {
  border-bottom: 2px solid var(--greyishBlue);
  width: 1.5rem;
  margin-right: 0.5rem;
}

.infoTable {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 0;
}

.infoTr {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1.5px solid var(--lightGrey);
  padding-bottom: 0.2rem;
}

.value {
  color: var(--lightGrey);
}

/* Mobile view more service section */

/* head section */
.moreService {
  background-color: var(--lightGreyishBlue);
  padding: var(--overallpadding);
  min-width: var(--minSize);
}

.moreServiceHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftRightIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftRightIcons i {
  font-size: 1.2rem;
  color: var(--darkBlue);
}

.moreServiceHead h3 {
  color: var(--white);
  margin-bottom: 1rem;
}

.moreServiceIconOuter {
  background-color: var(--white);
  padding: 0.5rem 0.7rem;
  border-radius: 50px;
  cursor: pointer;
}

/* img section */

.imgSection {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgSectionNoDisplay {
  display: none;
}

.imgCards {
  background-color: var(--white);
  box-shadow: 1px 2px 10px 1px var(--greyishBlue),
    -2px -2px 10px 1px var(--greyishBlue);
  border-radius: 10px;
}

.imgCardMarginBottom {
  margin-bottom: 1rem;
}

.imgCards img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.imgCards figure {
  height: 15rem;
  width: 27rem;
}

.imgAbout {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 1.5rem 0;
}

/* Mobile view Footer Section  */

footer {
  min-width: var(--minSize);
  padding: var(--overallpadding);
  background-color: var(--darkBlue);
  flex-direction: column;
  justify-content: center;
}

.innerfooter {
  display: grid;
  height: max-content;
  grid-template: 70px 1fr 50px 60px / 1fr;
  align-items: center;
  justify-items: center;
}

.innerfooter img {
  object-fit: contain;
}

.innerfooter figure {
  width: 12rem;
  height: 3rem;
}

.navlist {
  flex-direction: column;
}

.navlist li {
  margin: 0.4rem 0;
  color: var(--lime);
}

.socialLogos li {
  margin: 0 1rem;
  color: var(--white);
}

footer p {
  color: var(--lime);
}

/* ////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////
     */

/* Tablet view starts here */

@media only screen and (min-width: 768px) {
  /* Tablet view header section  */

  .header {
    height: 20rem;
  }

  .bgImg {
    height: 20rem;
  }

  /* Tablet view main section */

  .mainSection {
    align-items: start;
    margin-bottom: 2rem;
  }

  /* outer div */

  .mainDiv {
    grid-template: repeat(2, max-content) / 40% 60%;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }

  /* main figure section */

  .mainFig {
    grid-area: 1/1/1/2;
    height: 22rem;
    margin-bottom: 0;
    padding-left: 1rem;
  }

  /* about section */

  .about {
    grid-area: 1/2/1/3;
    padding: 0;
  }

  /* circle icons section */

  .circleIconSection {
    grid-area: 2/1/2/3;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .icons {
    width: 15rem;
    margin-bottom: 0rem;
  }

  .icons h5 {
    margin: 1rem 0;
  }

  /* Tablet view info cards section */
  .infoCards {
    width: 100%;
    padding: 0rem;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  .card {
    margin-bottom: 0rem;
    width: 24rem;
  }

  .infoTr {
    width: 22rem;
  }

  /* Tablet view more service section */

  /* head section */

  .moreServiceHead {
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  /* img section */

  .imgSection {
    width: 100%;
    margin-top: 1rem;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  .imgCards figure {
    height: 15rem;
    width: 15.5rem;
  }

  .imgAbout {
    margin: 2rem 0;
  }

  /*Tablet view Footer section  */
  footer {
    background-color: var(--white);
  }

  .innerfooter {
    width: 100%;
    grid-template: 1fr 1fr/2fr 1fr;
    justify-items: start;
    align-items: center;
    grid-gap: 1rem;
  }

  .innerfooter figure {
    grid-area: 1/2/1/3;
    justify-self: end;
    width: 13rem;
    height: 3.5rem;
    padding-right: 15px;
  }

  footer p {
    padding: 0px;
    color: var(--darkBlue);
  }

  .navlist {
    grid-area: 1/1/1/2;
    flex-direction: row;
  }

  .navlist li {
    margin-right: 20px;
    color: var(--darkBlue);
  }

  .rights {
    grid-area: 2/1/2/2;
  }

  .socialLogos {
    grid-area: 2/2/2/3;
    justify-self: end;
  }

  .socialLogos li {
    color: var(--darkBlue);
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////\
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*  Desktop view Starts Here */

@media only screen and (min-width: 1025px) {
  /* Desktop View Navigation Section */
  .top-logo {
    width: 11rem;
    height: 2.5rem;
  }

  .navDeskDiv {
    width: 100%;
    display: grid;
    height: max-content;
    grid-template: 1fr /2fr 1fr 0px;
    align-items: center;
    justify-items: end;
    grid-column-gap: 1rem;
  }

  .navMenu {
    visibility: hidden;
    grid-area: 1/3/1/4;
  }

  .navigation,
  .navbtn {
    visibility: visible;
  }

  .navigation {
    flex-direction: row;
    flex-wrap: nowrap;
    grid-area: 1/1/1/2;
  }

  .navigation li {
    padding: 3px;
  }

  .navigation li:hover {
    color: var(--white);
    background-color: var(--greyishBlue);
    border-radius: 2px;
  }

  .navigation a {
    margin: 0 0.5rem;
  }

  .navbtn {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
  }

  .navB1 {
    margin-right: 7px;
  }

  /* Desktop view header section  */

  .header {
    align-items: start;
    height: 18rem;
  }

  .bgImg {
    height: 18rem;
  }

  /* Desktop view main section */
  .mainSection {
    margin-bottom: 0rem;
  }

  /* main outer div */
  .mainOuter {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  /* Desktop view main section */

  /* outer div */

  .mainDiv {
    grid-template: repeat(3, max-content) / 40% 55%;
    justify-content: start;
  }

  /* main figure section */

  .mainFig {
    padding-left: 0rem;
  }

  /* Desktop view info cards section */
  .infoCards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    margin-bottom: 1rem;
    width: 18rem;
  }

  .infoTr {
    width: 16rem;
  }

  /* Desktop view more service section */
  .imgCards figure {
    height: 13rem;
    width: 23.5rem;
  }

  .imgAbout {
    margin: 1.5rem 0;
  }
}
