@font-face {
    font-family: "Nexa-bold";
    src: url(../fonts/Nexa-Bold.otf);
}

@font-face {
    font-family: "Nexa-light";
    src: url(../fonts/Nexa-Light.otf);
}

:root {
    --iconsColor: #525659;
    --skyBlue: #93bede;
    --darkBlue: #021433;
    --lightGrey: #636668;
    --lime: #cccccc;
    --blue: #3792f3;
    --lightLime: #f3f3f3;
    --greyishBlue: #0173b2;
    --lightGreyishBlue: #7ab0d4;
    --white: #fff;
    --selectCol: #d3d3d3;
    --minSize: 24rem;
    --overallpadding: 2.5rem 1.5rem;
}

body {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nexa-bold";
    color: var(--darkBlue);
}

h1 {
    font-size: 2.3rem;
    line-height: 2.7rem;
}

h2 {
    font-size: 2.3rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.6rem;
    line-height: 2rem;
}

h4 {
    font-size: 1.3rem;
    line-height: 1.5rem;
}

h5 {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

h6 {
    font-size: 1rem;
    line-height: 1.5rem;
}

p {
    font-size: 1.2rem;
    color: var(--darkBlue);
    font-family: "Nexa-light";
    line-height: 1.5rem;
}

span,
label {
    font-size: 1rem;
    font-family: "Nexa-light";
    color:var(--darkblue);
}

a,
button,
input {
    text-decoration: none;
    cursor: pointer;
}

button {
    font-family: "Nexa-light";
}

input[type=text] {
    border: none;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-family: "Nexa-light";
    color: var(--darkBlue);
}

input ::placeholder {
    color: var(--lightGrey)
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav,
section,
footer,
ul {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
}

section,
footer {
    flex-direction: column;
}

select,
option{
    background-color: var(--selectCol);
    border: none;
    font-family: "Nexa-light";
    color: var(--darkBlue);
    cursor: pointer;
}

select {
    padding: .5rem ;
    font-size: 1rem;
}

option {
    font-size: .7rem;
}


li,
textarea {
    font-size: 1rem;
    font-family: "Nexa-light";
    color: var(--lightGrey);
}

label {
    font-family: "Nexa-light";
    font-size: .9rem;
    color: var(--darkBlue);
    line-height: 1.2rem;
}


@media only screen and (min-width:768px) and (max-width:1024px) {
    :root {
        --minSize: 50rem;
        --overallpadding: 2.5rem 3rem;
    }
}

@media only screen and (min-width:1025px) {

    :root {
        --minSize: 64rem;
        --overallpadding: 3.8rem;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }

    h3 {
        font-size: 1.7rem;
        line-height: 2.3rem;
    }

    h4 {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    h5 {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    h6 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}